### Shopware Env Documentation:
# https://developer.shopware.com/docs/guides/hosting/configurations/shopware/environment-variables.html

# With Shopware 6.4.17.0 the MAILER_DSN variable will be used in this template instead of MAILER_URL

###< shopware/core ###

###> symfony/messenger ###
# Choose one of the transports below
# MESSENGER_TRANSPORT_DSN=amqp://guest:guest@localhost:5672/%2f/messages
# MESSENGER_TRANSPORT_DSN=redis://localhost:6379/messages
# doctrine://default?auto_setup=0
###< symfony/messenger ###

###> symfony/mailer ###
# MAILER_DSN=null://null
###< symfony/mailer ###

###> symfony/lock ###
# Choose one of the stores below
# postgresql+advisory://db_user:db_password@localhost/db_name
LOCK_DSN=flock
###< symfony/lock ###

### Generate APP SECRET Can be generated with `openssl rand -hex 32`
APP_SECRET=

###> shopware/elasticsearch ###
OPENSEARCH_URL=http://localhost:9200
SHOPWARE_ES_ENABLED=0
SHOPWARE_ES_INDEXING_ENABLED=0
SHOPWARE_ES_INDEX_PREFIX=sw
SHOPWARE_ES_THROW_EXCEPTION=1
###< shopware/elasticsearch ###

###> shopware/storefront ###

PROXY_URL=http://localhost
SHOPWARE_HTTP_CACHE_ENABLED=1
SHOPWARE_HTTP_DEFAULT_TTL=7200
###< shopware/storefront ###
APP_ENV=dev
APP_URL=http://localhost
DATABASE_URL=mysql://root:root@domain_url_database:25060/schemadb
MAILER_DSN=smtp://127.0.0.1:1025

TRUSTED_PROXIES=127.0.0.1,10.20.0.0/24
